
// colors
$primary: #F22539;
$yellow: #ECA539;
$dark-red: #C00E20;
$black: #000;
$light-black: #353535;
$dark-gray: #5E5E5E;
$gray: #BFBFBF;
$light-gray: #E8E8E8;
$white: #fff;
$white-2: #F9F9F9;
$white-3: #F5F5F5;

// font family
$font: 'Lato', sans-serif;

// size
$size-1: 1rem;
$size-2: 1.125rem;
$size-3: 1.25rem;
$size-4: 1.375rem;
$size-5: 1.625rem;
$size-6: 2.25rem;

// border radius
$border-radius: 5px;
$border-radius-button: 3.75rem;

// shadow
$shadow: 0px 2px 10px rgba($black, 0.04);
$shadow-2: 0px -5px 4px rgba($black, 0.05);

// width
$max-width: 35.625rem;

