.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  font-size: $size-6;
  text-align: center;
  color: $light-black;
  margin: 0 0 0.75rem 0;
}

p {
  text-align: center;
  font-size: $size-3;
  padding: 0 0 1.563rem 0;
}