.home {
  padding: 2.188rem 1.875rem;
}

.home__content {
  width: 100%;
  max-width: 35.625rem;
  margin: 0 auto;
}

.home__list {
  margin: 2.5rem 0;
  display: grid;
  row-gap: 0.625rem;
  min-width: 1px;
}

.empty {
  padding: 3.125rem 1.875rem;
}